{% extends "base.html.twig" %}

{% block title 'Annonces-72 - Petites annonces gratuites' %}

{% block body %}

	<div class="master-wrapper">

		<div class="preloader">
			<div class="preloader-img">
				<span class="loading-animation animate-flicker"><img src="http://localhost:8000/img/loading.GIF" alt="loading"/></span>
			</div>
		</div>

		{% include('components/navbar.html.twig') %}

		{% include('components/header.html.twig') %}

		{% for message in app.flashes('success') %}
			<div class="alert alert-success text-center" style="width: 29% !important;margin: 20px auto 20px auto;">
				<i class="fa fa-check text-success" aria-hidden="true"></i>
				{{ message }}
			</div>
		{% endfor %}

		{% for message in app.flashes('error') %}
			<div class="alert alert-danger text-center" style="width: 29% !important;margin: 20px auto 20px auto;">
				<i class="fa fa-times text-danger" aria-hidden="true"></i>
				{{ message }}
			</div>
		{% endfor %}

		<section id="welcome">
			<div class="{% if app.flashes('success') == null %}section-inner{% endif %} nopaddingbottom">

				<div class="container">
					<div class="row">
						<div class="col-lg-12 mb100 wow animated" style="visibility: visible;">
							<h2 class="section-heading">Bienvenue sur Annonces-72</h2>
							<h3 class="section-subheading secondary-font">Trouvez la bonne affaire parmi les millions de petites annonces</h3>
						</div>
					</div>
				</div>

				{% include('components/annoncesPremium.html.twig') %}

				{% include('components/annonces.html.twig') %}

			</div>
		</section>

        {% include('components/dev.html.twig') %}

        {% include('components/service.html.twig') %}

        {% include('components/contact.html.twig') %}

		{% include('components/footer.html.twig') %}

	</div>

	{% include('components/navRight.html.twig') %}

{% endblock %}
