{% extends "base.html.twig" %}

{% block title 'Annonces-72 - Petites annonces gratuites' %}

{% block body %}

	<link href="http://localhost:8000/css/profil.css" rel="stylesheet">

	<div class="master-wrapper">

		<div class="preloader">
			<div class="preloader-img">
				<span class="loading-animation animate-flicker"><img src="http://localhost:8000/img/loading.GIF" alt="loading"/></span>
			</div>
		</div>

		{% include('components/navbar.html.twig') %}

		<section class="dark-wrapper opaqued parallax" data-parallax="scroll" data-image-src="http://localhost:8000/img/bg/bg2.jpg" data-speed="0.7">
			<div class="section-inner pad-top-200">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 mb30 wow text-center">
							<h2 class="section-heading">Annonce premium</h2>
						</div>
					</div>
				</div>
			</div>
		</section>

		{% include('components/premiumAnnonce.html.twig') %}

        {% include('components/contact.html.twig') %}

		{% include('components/footer.html.twig') %}

	</div>

	{% include('components/navRight.html.twig') %}

    <script>
		const checkbox = document.getElementById('CGV'),
		methodePaiement1 = document.getElementById('premium1'),
        methodePaiement2 = document.getElementById('premium2'),
        methodePaiement3 = document.getElementById('premium3');

		checkbox.addEventListener('change', (event) => {
		if (event.currentTarget.checked) {
			methodePaiement1.classList.remove('disabled');
            methodePaiement2.classList.remove('disabled');
            methodePaiement3.classList.remove('disabled');
		} else {
			methodePaiement1.classList.add('disabled');
            methodePaiement2.classList.add('disabled');
            methodePaiement3.classList.add('disabled');
		}
		})
	</script>

{% endblock %}
