<div class="container">
	<div class="row mb50">
		<div class="col-md-4">
			<div class="hover-item mb30">
				<img src="img/annonces/img1.jpg" class="img-responsive smoothie" alt="">
				<div class="overlay-item-caption smoothie"></div>
				<div class="hover-item-caption smoothie">
					<div class="vertical-center smoothie">
						<a href="#" class="smoothie btn btn-primary">Voir l'annonce</a>
					</div>
				</div>
			</div>
			<div class="item-excerpt">
				<h4 class="pull-right">260 € / semaine</h4>
				<h4>
					<a href="#">LOUE APPART 4 PERS</a>
				</h4>
				<p>Nam quis nulla. Integer malesuada. In in enim a arcu imperdiet malesuada. Sed vel lectus. Donec odio urna, tempus.</p>
				<p>Mise en ligne par Machin72</p>
				<div>
					<ul class="list-unstyled">
						<li>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="hover-item mb30">
				<img src="img/annonces/img2.jpg" class="img-responsive smoothie" alt="">
				<div class="overlay-item-caption smoothie"></div>
				<div class="hover-item-caption smoothie">
					<div class="vertical-center smoothie">
						<a href="#" class="smoothie btn btn-primary">Voir l'annonce</a>
					</div>
				</div>
			</div>
			<div class="item-excerpt">
				<h4 class="pull-right">260 € / semaine</h4>
				<h4>
					<a href="#">LOUE APPART 4 PERS</a>
				</h4>
				<p>Nam quis nulla. Integer malesuada. In in enim a arcu imperdiet malesuada. Sed vel lectus. Donec odio urna, tempus.</p>
				<p>Mise en ligne par Machin72</p>
				<div>
					<ul class="list-unstyled">
						<li>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="hover-item mb30">
				<img src="img/annonces/img3.jpg" class="img-responsive smoothie" alt="">
				<div class="overlay-item-caption smoothie"></div>
				<div class="hover-item-caption smoothie">
					<div class="vertical-center smoothie">
						<a href="#" class="smoothie btn btn-primary">Voir l'annonce</a>
					</div>
				</div>
			</div>
			<div class="item-excerpt">
				<h4 class="pull-right">260 € / semaine</h4>
				<h4>
					<a href="#">LOUE APPART 4 PERS</a>
				</h4>
				<p>Nam quis nulla. Integer malesuada. In in enim a arcu imperdiet malesuada. Sed vel lectus. Donec odio urna, tempus.</p>
				<p>Mise en ligne par Machin72</p>
				<div>
					<ul class="list-unstyled">
						<li>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row mb50">
		<div class="col-md-4">
			<div class="hover-item mb30">
				<img src="img/annonces/img4.jpg" class="img-responsive smoothie" alt="">
				<div class="overlay-item-caption smoothie"></div>
				<div class="hover-item-caption smoothie">
					<div class="vertical-center smoothie">
						<a href="#" class="smoothie btn btn-primary">Voir l'annonce</a>
					</div>
				</div>
			</div>
			<div class="item-excerpt">
				<h4 class="pull-right">260 € / semaine</h4>
				<h4>
					<a href="#">LOUE APPART 4 PERS</a>
				</h4>
				<p>Nam quis nulla. Integer malesuada. In in enim a arcu imperdiet malesuada. Sed vel lectus. Donec odio urna, tempus.</p>
				<p>Mise en ligne par Machin72</p>
				<div>
					<ul class="list-unstyled">
						<li>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="hover-item mb30">
				<img src="img/annonces/img5.jpg" class="img-responsive smoothie" alt="">
				<div class="overlay-item-caption smoothie"></div>
				<div class="hover-item-caption smoothie">
					<div class="vertical-center smoothie">
						<a href="#" class="smoothie btn btn-primary">Voir l'annonce</a>
					</div>
				</div>
			</div>
			<div class="item-excerpt">
				<h4 class="pull-right">260 € / semaine</h4>
				<h4>
					<a href="#">LOUE APPART 4 PERS</a>
				</h4>
				<p>Nam quis nulla. Integer malesuada. In in enim a arcu imperdiet malesuada. Sed vel lectus. Donec odio urna, tempus.</p>
				<p>Mise en ligne par Machin72</p>
				<div>
					<ul class="list-unstyled">
						<li>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="hover-item mb30">
				<img src="img/annonces/img6.jpg" class="img-responsive smoothie" alt="">
				<div class="overlay-item-caption smoothie"></div>
				<div class="hover-item-caption smoothie">
					<div class="vertical-center smoothie">
						<a href="#" class="smoothie btn btn-primary">Voir l'annonce</a>
					</div>
				</div>
			</div>
			<div class="item-excerpt">
				<h4 class="pull-right">260 € / semaine</h4>
				<h4>
					<a href="#">LOUE APPART 4 PERS</a>
				</h4>
				<p>Nam quis nulla. Integer malesuada. In in enim a arcu imperdiet malesuada. Sed vel lectus. Donec odio urna, tempus.</p>
				<p>Mise en ligne par Machin72</p>
				<div>
					<ul class="list-unstyled">
						<li>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<hr>

	<div class="row mb100">
		<div class="col-md-6">
			<p class="lead">Avec annonces-72, trouvez la bonne affaire sur le site référent de petites annonces de particulier à particulier et de professionnels. Avec des millions de petites annonces, trouvez la bonne occasion dans nos catégories voiture, immobilier, emploi, vacances, mode, maison, jeux vidéo, etc…</p>
			<p>Déposez une annonce gratuite en toute simplicité pour vendre, rechercher, donner vos biens de seconde main ou promouvoir vos services. Achetez en toute sécurité avec notre système de paiement en ligne et de livraison pour les annonces éligibles.</p>
			<p class="mt30">
				<a href="#" class="btn btn-primary btn-theme page-scroll">Déposer une annonce maintenant</a>
			</p>
		</div>

		<div class="col-md-6">
			<img src="img/petite-annonce.png" class="img-responsive alignright wow fadeIn" data-wow-delay="0.5s" alt="" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn; width: 326px;">
		</div>
	</div>
</div>
