<section>
	<div class="section-inner">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="row">
						<div class="col-xs-12 col-sm-6 mb50">
							<div class="images">
								<span class="onsale">
									<i class="fas fa-hand-sparkles text-success"></i>
									Annonces Premium</span>
								<a class="lb-link" data-rel="product-gallery" href="img/annonces/img1.jpg" title="Image Title">
									<img alt="Image Title" class="img-responsive" src="img/annonces/img1.jpg" title="Image Title">
								</a>

								<div class="thumbnails mt">
									<a class="lb-link" data-rel="product-gallery" href="img/annonces/img1.jpg" title="Image Title 2">
										<img alt="image title" height="100" width="100" src="img/annonces/img1.jpg">
									</a>
									<a class="lb-link" data-rel="product-gallery" href="img/annonces/img1.jpg" title="Image Title 2">
										<img alt="image title" height="100" width="100" src="img/annonces/img1.jpg">
									</a>
									<a class="lb-link" data-rel="product-gallery" href="img/annonces/img1.jpg" title="Image Title 2">
										<img alt="image title" height="100" width="100" src="img/annonces/img1.jpg">
									</a>
								</div>
							</div>
						</div>

						<div class="col-xs-12 col-sm-6 mb50">
							<div class="summary entry-summary">

								<div>
									<p class="price">
										<ins>
											<span class="amount">260 € / SEMAINE</span>
										</ins>
									</p>
								</div>

								<div class="lead">
									<p>Nam quis nulla. Integer malesuada. In in enim a arcu imperdiet malesuada. Sed vel lectus. Donec odio urna, tempus molestie, porttitor ut, iaculis quis, sem. Phasellus rhoncus. Aenean id metus id velit ullamcorper pulvinar. Vestibulum fermentum tortor id mi. Pellentesque ipsum. Nulla non arcu lacinia neque faucibus fringilla. Nulla non lectus sed nisl molestie malesuada. Proin in tellus sit amet nibh dignissim sagittis.</p>
								</div>

								<div class="product-rating mb">
									<span class="glyphicon glyphicon-star"></span>
									<span class="glyphicon glyphicon-star"></span>
									<span class="glyphicon glyphicon-star"></span>
									<span class="glyphicon glyphicon-star"></span>
									<span class="glyphicon glyphicon-star"></span>
								</div>

                                <hr/>

                                <div class="share">
                                    <a class="btn btn-annonces" style="margin-right: 3px;"><i class="far fa-heart" aria-hidden="true"></i></a>
                                    <a class="btn btn-annonces"><i class="fas fa-share-alt" aria-hidden="true"></i></a>
                                </div>

                                <hr/>

                                <div class="share">
								<a href="#" class="btn btn-primary btn-theme" style="margin-right: 3px;">Envoyer un message
									<i class="far fa-comment-dots"></i>
								</a>
								<a href="#" class="btn btn-primary btn-theme">Voir le numéro
									<i class="fas fa-phone"></i>
								</a>

                                </div>
							</div>
						</div>

						<div class="col-md-12 product-tabs mt">
							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#tab-description">Description</a>
								</li>

								<li class="reviews_tab">
									<a data-toggle="tab" href="#tab-reviews">Commentaire(s) (0)</a>
								</li>

                                <li class="reviews_tab">
									<a data-toggle="tab" href="#tab-localisation">Localisation</a>
								</li>

                                <li class="criteres_tab">
									<a data-toggle="tab" href="#tab-criteres">Critères</a>
								</li>
							</ul>

							<div class="tab-content mb">
								<div class="tab-pane active" id="tab-description">
									<p>Studio très bien situé au calme, accès direct au vieux port avec commerces, restaurants et arrêt de bus.<br>
										Plages : Plagette, à 1 minute à pied, (sable blanc au pied d'une falaise volcanique). Au 3e étage avec ascenseur et sa place de parking sécurisée n°79. Terrasse avec vue dégagée sur parking et chenal. Exposition NO.<br>
										Carrelage au sol neuf, coin cuisine neuf et bien équipé : plaque vitrocéramique, frigo, machine à laver, lave-vaisselle, micro-ondes, ...<br>
										Salon:<br>
										Banquette cliclac couchage 140/190cms.<br>
										1 lit mezzanine 1 personne 90/190.<br>
										1 Tv + radio, 1 table pliable et 3 assises.<br>
										1 terrasse avec une table en marbre et 4 assises pliables.<br>
										1 salle d'eau avec wc et meuble salle de bain neufs.<br>
										Résidence: Secondaire</p>

                                        <a href="" class="btn btn-primary btn-theme">Signaler l'annonce</a>
								</div>

								<div class="tab-pane fade" id="tab-reviews">
									<div id="reviews">
										<div id="comments">
											<div id="comments-list" class="gap">
												<div class="media">
													<div class="pull-left">
														<img class="avatar comment-avatar" src="img/avatar/default_profil.png" alt="">
													</div>
													<div class="media-body">
														<div class="well">
															<div class="media-heading">
																<strong>Dave Evans</strong>&nbsp;
																<small>15 avril 2020 à 15h50</small>
															</div>
															<p>Was are delightful solicitude discovered collecting man day. Resolving neglected sir tolerably but existence conveying for. Day his put off unaffected literature partiality inhabiting.</p>
														</div>
													</div>
												</div>
												<div class="media">
													<div class="pull-left">
														<img class="avatar comment-avatar" src="img/avatar/default_profil.png" alt="">
													</div>
													<div class="media-body">
														<div class="well">
															<div class="media-heading">
																<strong>Dave Evans</strong>&nbsp;
																<small>15 avril 2020 à 15h50</small>
															</div>
															<p>Wicket longer admire do barton vanity itself do in it. Preferred to sportsmen it engrossed listening. Park gate sell they west hard for the. Abode stuff noisy manor blush yet the far. Up colonel so between removed so do.</p>
														</div>
													</div>
												</div>
												<div class="media">
													<div class="pull-left">
														<img class="avatar comment-avatar" src="img/avatar/default_profil.png" alt="">
													</div>
													<div class="media-body">
														<div class="well">
															<div class="media-heading">
																<strong>Dave Evans</strong>&nbsp;
																<small>15 avril 2020 à 15h50</small>
															</div>
															<p>Quitting informed concerns can men now. Projection to or up conviction uncommonly delightful continuing. In appetite ecstatic opinions hastened by handsome admitted.</p>
														</div>
													</div>
												</div>
											</div>

											<div id="comment-form" class="gap">
												<div class="mb">
													<h3 class="single-section-title">
														<strong>LAISSER UN</strong>
														COMMENTAIRE</h3>
												</div>
												<form class="form-horizontal" role="form">
													<div class="form-group">
														<div class="col-sm-6">
															<input type="text" class="form-control" placeholder="Nom">
														</div>
														<div class="col-sm-6">
															<input type="email" class="form-control" placeholder="Adresse email">
														</div>
													</div>
													<div class="form-group">
														<div class="col-sm-12">
															<textarea rows="8" class="form-control" placeholder="Commentaire"></textarea>
														</div>
													</div>
													<button type="submit" class="btn btn-theme">Envoyer le commentaire</button>
												</form>
											</div>
										</div>

									</div>
								</div>

                                <div class="tab-pane" id="tab-localisation">
									<p>Mapbox</p>
								</div>

                                <div class="tab-pane" id="tab-criteres">
									<p>Critères</p>
								</div>
							</div>
						</div>

						<div class="col-md-12">
							<div class="mb50">
								<h3 class="single-section-title">Annonces similaires</h3>
							</div>

							<div class="row">
								<ul class="owl-carousel-paged wow fadeIn list-unstyled" data-items="2" data-items-tablet="[768,2]" data-items-mobile="[479,1]">
									<li class="nopadding-lr">
										<div class="hover-item mb30">
											<img src="img/annonces/img1.jpg" class="img-responsive smoothie" alt="">
											<div class="overlay-item-caption smoothie"></div>
											<div class="hover-item-caption smoothie">
												<div class="vertical-center smoothie">
													<a href="#" class="smoothie btn btn-primary">Voir l'annonce</a>
												</div>
											</div>
										</div>
										<div class="item-excerpt">
											<h4 class="pull-right">$24.99</h4>
											<h4>
												<a href="#">Slim-Fit Shirt</a>
											</h4>
											<p>Taste oh spoke about no solid of hills up shade. Occasion so bachelor humoured striking by attended doubtful be it.</p>
										</div>
									</li>
									<li class="nopadding-lr">
										<div class="hover-item mb30">
											<img src="img/annonces/img1.jpg" class="img-responsive smoothie" alt="">
											<div class="overlay-item-caption smoothie"></div>
											<div class="hover-item-caption smoothie">
												<div class="vertical-center smoothie">
													<a href="#" class="smoothie btn btn-primary">Voir l'annonce</a>
												</div>
											</div>
										</div>
										<div class="item-excerpt">
											<h4 class="pull-right">$24.99</h4>
											<h4>
												<a href="#">Slim-Fit Shirt</a>
											</h4>
											<p>Taste oh spoke about no solid of hills up shade. Occasion so bachelor humoured striking by attended doubtful be it.</p>
										</div>
									</li>
									<li class="nopadding-lr">
										<div class="hover-item mb30">
											<img src="img/annonces/img1.jpg" class="img-responsive smoothie" alt="">
											<div class="overlay-item-caption smoothie"></div>
											<div class="hover-item-caption smoothie">
												<div class="vertical-center smoothie">
													<a href="#" class="smoothie btn btn-primary">Voir l'annonce</a>
												</div>
											</div>
										</div>
										<div class="item-excerpt">
											<h4 class="pull-right">$24.99</h4>
											<h4>
												<a href="#">Slim-Fit Shirt</a>
											</h4>
											<p>Taste oh spoke about no solid of hills up shade. Occasion so bachelor humoured striking by attended doubtful be it.</p>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div id="main-sidebar" class="col-md-3 col-md-offset-1 divider-wrapper wow fadeIn" data-wow-delay="0.5s">
					<div>
						<div class="widget">
							<h4 class="widget-title">
								<strong>Mise en ligne</strong>
								Par</h4>
							<div>

								<div class="pull-left">
									<img class="avatar comment-avatar" style="border-radius: 50%;" src="img/avatar/default_profil.png" alt="">
								</div>
								<div class="media-body">
									<div class="well">
										<div class="media-heading">
											<strong>Dave Evans</strong><br>
											<small>Le 15 avril 2020 à 15h50</small><br>
                                            <strong><i class="fa fa-shield" style="color: rgb(255, 110, 20)"></i> Profil recommandé</strong><br>
                                            <strong>N° SIREN : 800332413</strong>   
											<div class="muted">
												<ul class="list-unstyled">
													<li>
														<span class="glyphicon glyphicon-star"></span>
														<span class="glyphicon glyphicon-star"></span>
														<span class="glyphicon glyphicon-star"></span>
														<span class="glyphicon glyphicon-star"></span>
														<span class="glyphicon glyphicon-star"></span>
													</li>
												</ul>
											</div>
                                            <a href="">Voir les 0 annonces</a>
										</div>

									</div>
								</div>
							</div>
						</div>
						<div class="widget">
							<h4 class="widget-title">
								<strong>Dernières</strong>
								annonces</h4>
							<div>
								<div class="media">
									<div class="pull-left">
										<img class="widget-img" src="img/annonces/img1.jpg" width="60px" alt="">
									</div>
									<div class="media-body">
										<span class="media-heading">
											<a href="#">LOUE APPART 4 PERS</a>
										</span>
										<small class="muted">260 € / SEMAINE</small>
										<small class="muted">Par Seigneur Tom</small>
										<small class="muted">Le 16 avril 2021 à 16h00</small>
										<div class="muted">
											<ul class="list-unstyled">
												<li>
													<span class="glyphicon glyphicon-star"></span>
													<span class="glyphicon glyphicon-star"></span>
													<span class="glyphicon glyphicon-star"></span>
													<span class="glyphicon glyphicon-star"></span>
													<span class="glyphicon glyphicon-star"></span>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="media">
									<div class="pull-left">
										<img class="widget-img" src="img/annonces/img1.jpg" width="60px" alt="">
									</div>
									<div class="media-body">
										<span class="media-heading">
											<a href="#">LOUE APPART 4 PERS</a>
										</span>
										<small class="muted">260 € / SEMAINE</small>
										<small class="muted">Par Seigneur Tom</small>
										<small class="muted">Le 16 avril 2021 à 16h00</small>
										<div class="muted">
											<ul class="list-unstyled">
												<li>
													<span class="glyphicon glyphicon-star"></span>
													<span class="glyphicon glyphicon-star"></span>
													<span class="glyphicon glyphicon-star"></span>
													<span class="glyphicon glyphicon-star"></span>
													<span class="glyphicon glyphicon-star"></span>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="media">
									<div class="pull-left">
										<img class="widget-img" src="img/annonces/img1.jpg" width="60px" alt="">
									</div>
									<div class="media-body">
										<span class="media-heading">
											<a href="#">LOUE APPART 4 PERS</a>
										</span>
										<small class="muted">260 € / SEMAINE</small>
										<small class="muted">Par Seigneur Tom</small>
										<small class="muted">Le 16 avril 2021 à 16h00</small>
										<div class="muted">
											<ul class="list-unstyled">
												<li>
													<span class="glyphicon glyphicon-star"></span>
													<span class="glyphicon glyphicon-star"></span>
													<span class="glyphicon glyphicon-star"></span>
													<span class="glyphicon glyphicon-star"></span>
													<span class="glyphicon glyphicon-star"></span>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="media">
									<div class="pull-left">
										<img class="widget-img" src="img/annonces/img1.jpg" width="60px" alt="">
									</div>
									<div class="media-body">
										<span class="media-heading">
											<a href="#">LOUE APPART 4 PERS</a>
										</span>
										<small class="muted">260 € / SEMAINE</small>
										<small class="muted">Par Seigneur Tom</small>
										<small class="muted">Le 16 avril 2021 à 16h00</small>
										<div class="muted">
											<ul class="list-unstyled">
												<li>
													<span class="glyphicon glyphicon-star"></span>
													<span class="glyphicon glyphicon-star"></span>
													<span class="glyphicon glyphicon-star"></span>
													<span class="glyphicon glyphicon-star"></span>
													<span class="glyphicon glyphicon-star"></span>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
