<style>

.collapsible-content {
    padding-right: 40px;
}

</style>

<section>
	<div class="section-inner">
		<div class="container">
			<div class="row">

				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingOne">
							<h4 class="panel-title">
								<a role="button" class="collapsed" style="font-size: 13px;font-weight: 600;" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
									1. Définitions
								</a>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="hidden_if_js  cgv container collapsible-content" style="display: block;">
									<p>Chacun des termes mentionnés ci-dessous aura dans les présentes Conditions Générales de Vente du Service annonces-72 ( ci-après dénommées les « CGV » ) la signification suivante :</p>

									<p>
										<strong>Annonce</strong>
										: désigne l'ensemble des éléments et données (visuelles, textuelles, sonores, photographies, dessins), déposé par un Annonceur sous sa responsabilité éditoriale exclusive, en vue d'acheter, de louer ou de vendre un bien ou un service et diffusé sur le Site Internet et les Applications.&nbsp;</p>

									<p>
										<strong>Annonceur</strong>
										: désigne toute personne physique, majeure, agissant exclusivement à des fins privées et non professionnelles (tout Annonceur professionnel est dans l'obligation d'ouvrir un Compte Pro et de respecter les CGV applicables aux détenteurs d'un « Compte Pro »), établie en France (inclus les DOM à l'exclusion de Mayotte), titulaire d’un Compte Personnel et ayant déposé une Annonce, à partir de celui-ci, sur le Site Internet, et/ou sur les Applications. Tout Annonceur doit impérativement être connecté à son Compte Personnel pour déposer et gérer sa ou ses Annonces. Tout premier dépôt d’annonce entraîne automatiquement la création d’un Compte Personnel propre à l’Annonceur.&nbsp;</p>

									<p>
										<strong>Compte Personnel</strong>
										: désigne l'espace gratuit que tout Annonceur doit se créer et auquel il doit se connecter depuis le Site Internet et les Applications, afin &nbsp;de diffuser, gérer, visualiser ses annonces, souscrire à une ou des option(s) payante(s) et acheter des crédits.</p>

									<p>
										<strong>ANNONCES-72</strong>
										: désigne la société qui édite et exploite le Site Internet et les Applications ANNONCES-72, SAS au capital de 3.252.490 euros, immatriculée au registre du commerce et des sociétés de Paris sous le numéro 521.724.336 dont le siège social est situé 85-87 Rue du Faubourg Saint Martin, 75010 Paris.&nbsp;</p>

									<p>
										<strong>Service client</strong>
										: désigne le service de ANNONCES-72 auprès duquel l'Annonceur peut obtenir toute information complémentaire. Ce service peut être contacté par e-mail en cliquant sur le lien présent sur le Site Internet et les Applications.&nbsp;</p>
									<p>
										<strong>Utilisateur</strong>
										: désigne tout visiteur, ayant accès au Service annonces-72 via le Site Internet et/ou les Applications et consultant le Service annonces-72 accessible depuis les différents supports.&nbsp;</p>

								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingTwo">
							<h4 class="panel-title">
								<a class="collapsed" style="font-size: 13px;font-weight: 600;" style="font-size: 13px;font-weight: 600;" style="font-size: 13px;font-weight: 600;" style="font-size: 13px;font-weight: 600;" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									2. Objet
								</a>
							</h4>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
							<div class="panel-body">
								Les présentes Conditions Générales de Vente (CGV) établissent les conditions contractuelles applicables à toute souscription, par un Annonceur connecté à son Compte Personnel, d'option(s) payante(s) et d’achat de crédits depuis le Site Internet et les Applications.
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingThree">
							<h4 class="panel-title">
								<a class="collapsed" style="font-size: 13px;font-weight: 600;" style="font-size: 13px;font-weight: 600;" style="font-size: 13px;font-weight: 600;" style="font-size: 13px;font-weight: 600;" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									3. Acceptation
								</a>
							</h4>
						</div>
						<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
							<div class="panel-body">
								Toute souscription d'option(s) payante(s) et/ou achat de crédits par un Annonceur vaut acceptation pleine et entière des CGV en vigueur.
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingFor">
							<h4 class="panel-title">
								<a class="collapsed" style="font-size: 13px;font-weight: 600;" style="font-size: 13px;font-weight: 600;" style="font-size: 13px;font-weight: 600;" style="font-size: 13px;font-weight: 600;" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFor" aria-expanded="false" aria-controls="collapseFor">
									4. Modalités de souscription aux options payantes et à l'achat de crédits
								</a>
							</h4>
						</div>
						<div id="collapseFor" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFor">
							<div class="panel-body">
								<div class="hidden_if_js  cgv container collapsible-content" style="">
									<p>
										<strong>4.1 Règles générales</strong>
									</p>

									<p>4.1.1 Options payantes</p>

									<p>La souscription d'une ou plusieurs option(s) payante(s) est exclusivement accessible aux Annonceurs connectés à leur Compte Personnel depuis le Site Internet et/ou les Applications.&nbsp;</p>

									<p>Une option payante n'est souscrite que pour une seule Annonce. En conséquence, il n'est pas possible de transférer le bénéfice d'une option payante d'une Annonce à une autre.</p>

									<p>Il est possible de souscrire plusieurs options payantes pour une même Annonce et ce de manière simultanée ou non.</p>

									<p>Le prix de chaque option payante varie en fonction du type d'option souscrite et de la catégorie de dépôt sélectionnée. La grille tarifaire des options payantes par catégorie est présente dans l'article 6.</p>

									<p>L'Annonceur reconnait et accepte que toute Annonce déposée dans une catégorie ne correspondant pas au produit ou au service proposé puisse être supprimée à tout moment, par LBC France et ce sans indemnité ni droit à remboursement des sommes engagées aux fins de la souscription à des options payantes.</p>

									<p>Les Annonces sont classées sur le Service annonces-72 par ordre chronologique, en fonction de la date et de l'heure de leur mise en ligne. En conséquence, tout Annonceur reconnaît et accepte que la présence en tête de liste de son Annonce n'est que provisoire.</p>

									<p>4.1.2 Achat de crédits</p>

									<p>L’achat de crédits s'effectue exclusivement depuis le Compte Personnel de l'Annonceur.</p>

									<p>Les crédits achetés permettent de souscrire à une ou des option(s) payante(s) telle(s) que décrite(s) à l'article 5 des présentes Conditions Générales de Vente.</p>

									<p>Les crédits sont attachés au Compte Personnel à partir duquel ils ont été achetés et ne peuvent être transférés sur un autre Compte Personnel.</p>

									<p>
										<strong>4.2 Espace et Moment de souscription</strong>
									</p>

									<p>4.2.1 Options payantes</p>

									<p>Les options payantes peuvent être souscrites, par tout Annonceur connecté à son Compte Personnel, depuis le Site Internet et les Applications :</p>

									<ul>
										<li>soit depuis le formulaire de dépôt lors du dépôt, de la modification ou de la prolongation d’une Annonce,</li>
										<li>à tout moment au cours de la diffusion d’une Annonce, soit depuis l'onglet "Mes annonces" du Compte Personnel de l’Annonceur, soit depuis la page de l’Annonce, via le bouton « Mettre en Avant ».</li>
									</ul>

									<p>Le Pack Photos Supplémentaires ne peut être souscrit qu’au moment du dépôt, de la modification, ou de la prolongation d’une Annonce.</p>

									<p>Le Pack Booster ne peut être souscrit qu’au cours de la diffusion d’une Annonce, depuis l'onglet "Mes annonces" du Compte Personnel.&nbsp;</p>

									<p>Il n’est pas possible pour les annonceurs de souscrire aux Packs Photos Supplémentaires, Location de vacances, et Booster depuis les Applications.&nbsp;</p>

									<p>4.2.2 Achat de crédits</p>

									<p>Tout Annonceur connecté à son Compte Personnel peut, à partir de l’onglet « Mes Achats », souscrire à une offre d'achat de crédits décrite à l'article 6 des présentes Conditions Générales de Vente.</p>

									<p>L’achat de crédit ne peut s’effectuer au moment du dépôt d'Annonce ou de la souscription à une ou des option(s) payante(s).</p>

									<p>Actuellement, il n'est pas possible d'acheter des crédits depuis les Applications.</p>

									<p>
										<strong>4.3 Durée et effet de la ou des option(s) payante(s) et des crédits</strong>
									</p>

									<p>4.3.1 Options payantes</p>

									<p>A l'exception des options payantes « Pack Location de Vacances » souscrite pour une durée de 6 (six) mois, « Pack Booster » souscrite pour 1 ou 3 mois, « Remonter en tête de liste chaque jour pendant 7 jours » et « A la Une 7 jours » souscrites pour une durée de sept jours, « Remonter en tête de liste chaque jour pendant 1 mois » et « A la Une 30 jours » souscrites pour une durée de 30 jours consécutifs et de « Remonter en tête de liste immédiatement » valable une fois au moment de la souscription, toute autre option payante est souscrite pour la durée de diffusion de l'Annonce hors prolongation :</p>

									<ul>
										<li>soit pour une durée maximum de soixante (60) jours si elle est souscrite au moment du dépôt de l'Annonce,</li>
										<li>soit pour une durée inférieure à soixante (60) jours et égale à la durée de validité de l'Annonce restant à courir si elle est souscrite au cours de la diffusion de l'Annonce.</li>
									</ul>

									<p>Exception faite de la souscription à l'option payante « &nbsp;Pack Location de Vacances », la souscription d'une option payante ne prolonge pas la durée de l'Annonce.</p>

									<p>Lors du retrait anticipé de l'Annonce (soit du fait de l'Annonceur, soit du fait de ANNONCES-72 notamment en cas de contenu abusif) ou à l'expiration de sa durée de diffusion, l'option payante cesse de produire ses effets. La prolongation d'une Annonce ne prolonge pas la durée de l'option payante.</p>

									<p>La modification d'un Compte Personnel ne prolonge pas la durée de ou des option(s) payante(s) souscrite(s).<br>
										La suppression d'un Compte Personnel entraine la suppression de toute(s) Annonce(s) attachée(s) à ce compte (même adresse mail) et, en conséquence, de toute(s) option(s) payante(s) souscrite(s) pour ces Annonces et ne donne aucun droit à remboursement, ni indemnité, ce que l'Annonceur reconnait et accepte.</p>

									<p>4.3.2 Crédits</p>

									<p>Chaque Crédit a une durée de validité de 6 mois, qui court à compter du jour de son achat.<br>
										Attention : tout nouvel achat de Crédits n'entraîne pas, pour tous les crédits de l’Annonceur en cours de validité, une nouvelle période de validité de 6 ou 12 mois.&nbsp;</p>

									<p>En conséquence, tout crédit non consommé avant la fin de sa durée de validité de 6 mois sera supprimé du Compte Personnel de l'Annonceur, sans possibilité de remboursement ou d'indemnisation.</p>

									<p>Aucune prolongation de durée de validité d'un crédit ne pourra être demandée à ANNONCES-72.</p>

									<p>La suppression d'un Compte Personnel entraine la suppression des crédits associés à ce compte.</p>

								</div>
							</div>
						</div>


					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingFive">
							<h4 class="panel-title">
								<a class="collapsed" style="font-size: 13px;font-weight: 600;" style="font-size: 13px;font-weight: 600;" style="font-size: 13px;font-weight: 600;" style="font-size: 13px;font-weight: 600;" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
									5. Paiement et facturation
								</a>
							</h4>
						</div>
						<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
							<div class="panel-body">
								<div class="hidden_if_js  cgv container collapsible-content" style="display: none;">
									<p>
										<strong>7.1 Options payantes</strong>
									</p>

									<p>La souscription à une ou des option(s) payante(s) peut se faire par tout Annonceur connecté à son Compte Personnel :</p>

									<ul>
										<li>par carte bancaire depuis le Site Internet et les Applications ;</li>
										<li>par crédits depuis le Site Internet et les Applications.&nbsp;Si le solde de crédits est insuffisant, l'Annonceur peut compléter son règlement par un paiement par carte bancaire.</li>
									</ul>

									<p>Le paiement est exigible lors de la souscription de chaque option payante.</p>

									<p>Toute souscription d'option payante par carte bancaire donnera lieu à une facture envoyée à l'adresse mail indiquée par l'Annonceur lors du dépôt de son Annonce.&nbsp;</p>

									<p>Toute souscription d'option payante par crédits donnera lieu à l'envoi d'un justificatif à l'adresse mail indiquée par l'Annonceur lors de la création de son Compte Personnel.</p>

									<p>Toute souscription d'option payante par crédits et carte bancaire donnera lieu à l'envoi de deux mails : un premier mail de facture correspondant au paiement par carte bancaire et un second mail comprenant un justificatif d'achat de crédits.</p>

									<p>Les factures et justificatifs apparaîtront dans le Compte Personnel.&nbsp;</p>

									<p>L'Annonceur, depuis l'onglet "Mes Achats", a la possibilité de télécharger, en format PDF, ses factures et justificatifs relatifs à la souscription d’options payantes.&nbsp;</p>

									<p>
										<strong>7.2 Achat de crédits</strong>
									</p>

									<p>L'achat de crédits se fait par carte bancaire uniquement, par tout Annonceur connecté à son Compte Personnel.<br>
										L'historique des achats de crédits sera consultable depuis le Compte Personnel.</p>

									<p>L'Annonceur, depuis l'onglet "Mes Achats", a la possibilité de télécharger, en format PDF &nbsp;ses factures relatives à l'achat de crédits.</p>

									<p>
										<strong>7.3 Remboursement et Rétractation</strong>
									</p>

									<p>7.3.1 Remboursement</p>

									<p>Les crédits ne sont pas remboursables.</p>

									<p>Les options payantes ne sont pas remboursables.</p>

									<p>
										<u>En cas de suppression d'Annonce</u>
									</p>

									<p>Si la diffusion d'une Annonce est refusée par ANNONCES-72 en raison de sa non-conformité aux règles de diffusion du Service annonces-72 :&nbsp;</p>

									<ul>
										<li>le montant de la ou des option(s) payante(s) souscrite(s) lors du dépôt ou de la modification de l'Annonce ne sera pas prélevé et un email sera adressé à l'Annonceur l'informant que son Annonce a été refusée par ANNONCES-72 et ne sera pas diffusée ;</li>
										<li>les crédits utilisés pour payer le montant de la ou des option(s) payante(s) ne seront pas prélevés du Compte Personnel de l'Annonceur ;</li>
										<li>dans le cas d'un paiement de la ou des option(s) payante(s) par crédits et carte bancaire, les sommes payées seront restituées sous forme de crédits, ce que l'Annonceur reconnait et accepte.</li>
									</ul>

									<p>En revanche, si ANNONCES-72 était contraint de supprimer l'Annonce en cours de diffusion en raison de sa non-conformité aux règles de diffusion du Service annonces-72 et notamment parce que son contenu a été, légitimement, signalé comme abusif, ANNONCES-72 ne remboursera pas à l'Annonceur les crédits et/ou le montant de la ou des option(s) payante(s) souscrite(s) lors du dépôt ou de la modification de l'Annonce ainsi supprimée en cours de diffusion.</p>

									<p>
										<u>En cas de suppression d'un Compte Personnel</u>
									</p>

									<p>La suppression d'un Compte Personnel entraine la suppression de toute(s) Annonce(s) attachée(s), et en conséquence, la suppression de toute(s) option(s) payante(s) souscrite(s) pour ces Annonces et ne donne droit à aucun droit à remboursement, ni indemnité, ce que l'Annonceur reconnait et accepte.</p>

									<p>La suppression d'un Compte Personnel entraine la suppression des crédits associés, n'ouvrant aucun droit à remboursement, ce que l'Annonceur reconnait et accepte.</p>

									<p>7.3.2 Rétractation</p>

									<p>En application des articles L 221-18 et suivants du code de la consommation, l'Annonceur dispose d'un délai de quatorze (14) jours francs pour se rétracter. Toutefois, en validant la commande, l'Annonceur accepte que ANNONCES-72 commence à exécuter la prestation et renonce expressément à son droit de rétractation.&nbsp;</p>

								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingSix">
							<h4 class="panel-title">
								<a class="collapsed" style="font-size: 13px;font-weight: 600;" style="font-size: 13px;font-weight: 600;" style="font-size: 13px;font-weight: 600;" style="font-size: 13px;font-weight: 600;" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
									6. Prix
								</a>
							</h4>
						</div>
						<div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
							<div class="panel-body">
								La responsabilité de ANNONCES-72 ne peut être engagée en cas d'inexécution ou de mauvaise exécution de la commande due, soit du fait de l'Annonceur, soit d'un cas de force majeure.
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingSeven">
							<h4 class="panel-title">
								<a class="collapsed" style="font-size: 13px;font-weight: 600;" style="font-size: 13px;font-weight: 600;" style="font-size: 13px;font-weight: 600;" style="font-size: 13px;font-weight: 600;" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
									7. Modification des CGV
								</a>
							</h4>
						</div>
						<div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
							<div class="panel-body">
								<div class="hidden_if_js  cgv container collapsible-content" style="display: block;">
									<p>Les présentes CGV sont applicables à partir du 28 avril 2021.</p>

									<p>ANNONCES-72 se réserve la possibilité, à tout moment, de modifier en tout ou partie les CGV.</p>

									<p>Les Annonceurs sont invités à consulter régulièrement les CGV afin de prendre connaissance des changements apportés.</p>

								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingHeight">
							<h4 class="panel-title">
								<a class="collapsed" style="font-size: 13px;font-weight: 600;" style="font-size: 13px;font-weight: 600;" style="font-size: 13px;font-weight: 600;" style="font-size: 13px;font-weight: 600;" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseHeight" aria-expanded="false" aria-controls="collapseHeight">
									8. Dispositions Diverses
								</a>
							</h4>
						</div>
						<div id="collapseHeight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingHeight">
							<div class="panel-body">
								<div class="hidden_if_js  cgv container collapsible-content" style="display: block;">
									<p>Tout traitement de données personnelles dans le cadre des présentes est soumis aux dispositions de notre
										<a href="{{ path('cookies') }}">politique de confidentialité</a>, qui fait partie intégrante des présentes CGV.&nbsp;</p>

									<p>Si une partie des CGV devait s'avérer illégale, invalide ou inapplicable, pour quelque raison que ce soit, les dispositions en question seraient réputées non écrites, sans remettre en cause la validité des autres dispositions qui continueront de s'appliquer entre les Annonceurs et ANNONCES-72, sauf s'il s'agissait d'une clause impulsive et déterminante ayant amené l'une des Parties à souscrire à l'Option payante.</p>

									<p>Toute réclamation doit être adressée au Service Client de ANNONCES-72.</p>

									<p>Les Utilisateurs sont informés de la liste d’opposition au démarchage téléphonique «&nbsp;Bloctel&nbsp;» sur laquelle ils peuvent s’inscrire : https://conso.bloctel.fr/.</p>

									<p>Les CGV sont soumises au droit français.</p>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
