<section class="dark-wrapper opaqued parallax" data-parallax="scroll" data-image-src="img/bg/bg3.jpg" data-speed="0.7">
	<div
		id="contact-tabs" role="tabpanel">

		<!-- Nav tabs -->
		<ul class="nav nav-justified icon-tabs" id="nav-tabs" role="tablist">
			<li role="presentation" class="ptb smoothie active">
				<a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">
					<span class="tabtitle heading-font smoothie text-center">Contactez-nous</span>
				</a>
			</li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content" id="tabs-collapse">
			<div role="tabpanel" class="tab-pane fade in active" id="contact">
				<div id="contact-inner" class="nopadding-lr">
					<div class="contact-section-inner">
						<div class="container">
							<div class="row">
								<div class="col-sm-8 col-sm-offset-2">
									<div id="message"></div>
									<form class="main-contact-form wow animated" style="visibility: visible;">
										<input type="text" class="form-control col-md-4" name="name" placeholder="Votre nom *" id="name" required="" data-validation-required-message="Please enter your name.">
										<input type="text" class="form-control col-md-4" name="email" placeholder="Votre adresse email *" id="email" required="" data-validation-required-message="Please enter your email address.">
										<input type="text" class="form-control col-md-4" name="website" placeholder="Votre sujet *" id="website" required="" data-validation-required-message="Please enter your web address.">
										<textarea name="comments" class="form-control" id="comments" placeholder="Votre message *" required="" data-validation-required-message="Please enter a message."></textarea>
										<input class="btn btn-primary mt30 btn-white pull-right" type="submit" name="submit" value="Envoyer">
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
