<style>

	.collapsible-content {
		padding-right: 40px;
	}
</style>

<section>
	<div class="section-inner">
		<div class="container">
			<div class="row">

				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingOne">
							<h4 class="panel-title">
								<a role="button" class="collapsed" style="font-size: 13px;font-weight: 600;" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
									1. Qu'est-ce qu'un cookie ?
								</a>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="styles_container__38JOX styles_active__38fk_ styles_isRoot__2CWQZ">
									<div class="styles_RichText__tCQQL">
										<p class="styles_p__3grY_">
											<span class="">Un cookie (ou autre traceur) est un fichier texte stocké sur le disque dur de votre terminal (ordinateur, tablette, mobile) par le biais de votre logiciel de navigation à l'occasion de la consultation d'un service en ligne.
											</span>
										</p>
										<p class="styles_p__3grY_">
											<span class=""></span>
										</p>
										<p class="styles_p__3grY_">
											<span class="">Les cookies enregistrés par nous ou par des tiers lorsque vous visitez notre Site ou nos Applications ne vous reconnaissent pas personnellement en tant qu'individu, mais reconnaissent seulement l'appareil que vous êtes en train d'utiliser. Les cookies ne stockent aucune donnée personnelle sensible ou directement identifiante mais donnent simplement une information sur votre navigation de façon à ce que votre terminal puisse être reconnu plus tard.
											</span>
										</p>
										<p class="styles_p__3grY_">
											<span class=""></span>
										</p>
										<p class="styles_p__3grY_">
											<span class="">Les cookies ne causent aucun dommage à votre appareil, mais permettent plus facilement par exemple de retrouver vos préférences, de pré-remplir certains champs et d'adapter le contenu de nos services.
											</span>
										</p>
										<p class="styles_p__3grY_">
											<span class=""></span>
										</p>
										<p class="styles_p__3grY_">
											<span class="">Vous seul(e) choisissez si vous souhaitez avoir des cookies enregistrés sur votre appareil et vous pouvez facilement contrôler l'enregistrement des cookies. Pour une information spécifique sur la gestion et le contrôle des cookies, veuillez-vous référer à la rubrique « Vos choix concernant les cookies ». Le mot "cookies" dans la présente politique désigne tous traceurs pouvant être utilisés dans le cadre de notre Service et notamment ceux utilisés dans nos Applications.
											</span>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingTwo">
							<h4 class="panel-title">
								<a class="collapsed" style="font-size: 13px;font-weight: 600;" style="font-size: 13px;font-weight: 600;" style="font-size: 13px;font-weight: 600;" style="font-size: 13px;font-weight: 600;" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									2. Vos choix par rapport aux cookies
								</a>
							</h4>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
							<div class="panel-body">
								Vous pouvez à tout moment exprimer ou modifier vos souhaits en matière de cookies en supprimant les cookies, ou par les moyens décrits ci-dessous :
								<div class="styles_RichText__tCQQL">
									<p class="styles_p__3grY_">
										<span class="">Vous pouvez à tout moment configurer votre navigateur de manière à ce que des cookies soient enregistrés dans votre terminal (opt-in) ou, au contraire, qu'ils soient rejetés (opt-out). Certains navigateurs vous permettent de définir des règles pour gérer les cookies site par site.
										</span>
									</p>
									<p class="styles_p__3grY_">
										<span class=""></span>
									</p>
									<p class="styles_p__3grY_">
										<span class="">Pour la gestion des cookies, la configuration de chaque navigateur est différente. Elle est décrite dans le menu d'aide de votre navigateur, qui vous permettra de savoir de quelle manière modifier vos souhaits :
										</span>
									</p>
									<ul class="styles_ul__jerDm">
										<li>
											<span class=""></span>
											<a class="styles_a__blg9q" href="https://privacy.microsoft.com/en-us/ie11-win7-privacy-statement">
												<span class="">Internet Explorer
												</span>
											</a>
											<span class=""></span>
										</li>
										<li>
											<span class=""></span>
											<a class="styles_a__blg9q" href="https://www.apple.com/legal/privacy/en-ww/">
												<span class="">Safari
												</span>
											</a>
											<span class=""></span>
										</li>
										<li>
											<span class=""></span>
											<a class="styles_a__blg9q" href="https://support.google.com/chrome/answer/95647?hl=fr&amp;hlrm=en">
												<span class="">Chrome
												</span>
											</a>
											<span class=""></span>
										</li>
										<li>
											<span class=""></span>
											<a class="styles_a__blg9q" href="https://support.mozilla.org/fr/kb/activer-desactiver-cookies-preferences?redirectlocale=fr&amp;redirectslug=activer-desactiver-cookies">
												<span class="">Firefox
												</span>
											</a>
											<span class=""></span>
										</li>
										<li>
											<span class=""></span>
											<a class="styles_a__blg9q" href="https://www.opera.com/fr/privacy">
												<span class="">Opera
												</span>
											</a>
											<span class=""></span>
										</li>
									</ul>
									<p class="styles_p__3grY_">
										<span class="">Par ailleurs, la procédure pour désactiver le ciblage publicitaire de vos appareils mobiles est la suivante :
										</span>
									</p>
									<ul class="styles_ul__jerDm">
										<li>
											<span class="">sur iOS, rendez-vous sur les réglages de confidentialité, accédez à l’option « publicité » et activez le "suivi publicitaire limité"</span>
										</li>
										<li>
											<span class="">sur Android, rendez-vous dans l’application "paramètres Google", activez l’option « désactiver les annonces par centre d’intérêt » et "réinitialiser l’identifiant publicitaire".
											</span>
										</li>
									</ul>
									<p class="styles_p__3grY_">
										<span class="">Vous pouvez également paramétrer les options de géolocalisation de votre appareil mobile et les applications, dont annonces-72, qui y ont accès :
										</span>
									</p>
									<p class="styles_p__3grY_">
										<span class=""></span>
									</p>
									<ul class="styles_ul__jerDm">
										<li>
											<span class="">sur iOS, rendez-vous sur les réglages de confidentialité, accédez à l’option « Service de localisation » et paramétrez les applications qui peuvent accéder à vos données de localisation ;
											</span>
										</li>
										<li>
											<span class="">sur Android, rendez-vous dans les « Paramètres » de votre téléphone, puis dans « Applications ». Sélectionnez « Annonces-72 » puis « Autorisations ». Vous y trouverez une liste de toutes les autorisations que nous sommes susceptibles de vous demander, et notamment celle appelée « Position », que vous pouvez activer ou désactiver. Pour simplifier cet accès, nous avons mis en place un raccourcis dans notre application annonces-72 : rendez-vous dans «Infos pratiques », puis « Aide » puis  « Permissions » et appuyez sur le bouton « Accéder aux paramètres ».</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>
