<!-- Modal -->
<div
  class="modal fade"
  id="cookie"
  data-mdb-backdrop="static"
  data-mdb-keyboard="false"
  tabindex="-1"
  aria-labelledby="cookieLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" style="justify-content: center;">
    <div class="modal-content" style="max-width: 521px;">
      <div class="modal-header">
        <h5 class="modal-title" id="cookieLabel">Consentement des cookies</h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body text-center">
        <div>
            <img src="http://localhost:8000/img/logo_icon.png" width="65" height="65" class="d-inline-block align-top mr-2" alt="Annonces-72">
		    <p class="mt-2"><b>Annonces-72</b></p>
        </div>
        <hr />
        <h5>Le respect de votre vie privée est notre priorité</h5>
        <hr />
        <p>Nos partenaires et nous-mêmes stockons et/ou accédons à des informations stockées sur un terminal, telles que les cookies, et traitons les données personnelles, telles que les identifiants uniques et les informations standards envoyées par chaque terminal pour diffuser des publicités et du contenu personnalisés, mesurer les performances des publicités et du contenu, obtenir des données d'audience, et développer et améliorer les produits.</p>
        <hr />
        <p class="mb-0">Avec votre permission, nos partenaires et nous-mêmes pouvons utiliser des données de géolocalisation précises et d’identification par analyse du terminal. En cliquant, vous pouvez consentir aux traitements décrits précédemment. Vous pouvez également refuser de donner votre consentement ou accéder à des informations plus détaillées et modifier vos préférences avant de consentir. Veuillez noter que certains traitements de vos données personnelles peuvent ne pas nécessiter votre consentement, mais vous avez le droit de vous y opposer. Vos préférences ne s'appliqueront qu’à ce site Web. Vous pouvez modifier vos préférences à tout moment en revenant sur ce site web ou en consultant notre Politique de confidentialité.</p>
      </div>
      <div class="modal-footer">
        <a id="cookieConsent" class="btn btn-primary" data-dismiss="modal">ACCEPTER ET FERMER</a>
        <a class="btn btn-primary">JE REFUSE</a>
      </div>
    </div>
  </div>
</div>