<div id="footer-wrapper" class="footer-image-bg">
	<section class="transparent-wrapper">
		<div class="section-inner">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="widget about-us-widget">
							<h4 class="widget-title">
								<strong>Vendez</strong>
								Partout dans le monde</h4>
							<p>Déposez une annonce gratuite en toute simplicité pour vendre, rechercher, donner vos biens de seconde main ou promouvoir vos services. Achetez en toute sécurité avec notre système de paiement en ligne et de livraison pour les annonces éligibles.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="widget">
							<h4 class="widget-title">
								<strong>Dernière</strong>
								Annonces</h4>
							<div>
								<div class="media">
									<div class="pull-left">
										<img class="widget-img" src="img/widget/widget1.jpg" alt="">
									</div>
									<div class="media-body">
										<span class="media-heading">
											<a href="#">Blog Post A</a>
										</span>
										<small class="muted">Posted 14 April 2015</small>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="widget">
							<h4 class="widget-title">Tags populaires</h4>
							<div class="tagcloud">
								<a href="#" class="tag-link btn btn-theme btn-white btn-xs smoothie" title="3 topics">Local</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer class="white-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-6 text-left match-height">
					<ul class="list-inline social-links wow">
						<li>
							<a href="#">
								<i class="fa fa-twitter"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-pinterest"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-facebook"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-linkedin"></i>
							</a>
						</li>
					</ul>
				</div>

				<div class="col-md-6 text-right match-height">
					<div class="vertical-center">
						<span class="copyright">© Copyright 2021. Annonces-72 Gaëtan Seigneur</span>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>
