<div class="flexpanel">
	<div class="viewport-wrap">
		<div class="viewport">
			<div class="widget mb50">
				<h4 class="widget-title">Dernière annonces</h4>
				<div>
					<div class="media">
						<div class="pull-left">
							<img class="widget-img" src="img/widget/widget1.jpg" alt="">
						</div>
						<div class="media-body">
							<span class="media-heading">
								<a href="#">Panic In London</a>
							</span>
							<small class="muted">Posted 14 April 2015</small>
						</div>
					</div>
				</div>
			</div>
			<div class="widget mb50">
				<h4 class="widget-title">
					<strong>Tags</strong>
					Populaires</h4>
				<div class="tagcloud">
					<a href="#" class="tag-link btn btn-theme btn-xs" title="3 topics">Local</a>
				</div>
			</div>
			<div class="widget about-us-widget mb50">
				<h4 class="widget-title">Annonces-72 C'est quoi</h4>
				<p>Avec annonces-72, trouvez la bonne affaire sur le site référent de petites annonces de particulier à particulier et de professionnels. Avec des millions de petites annonces, trouvez la bonne occasion dans nos catégories voiture, immobilier, emploi, vacances, mode, maison, jeux vidéo, etc…</p>
			</div>
		</div>
	</div>
</div>
