{% extends 'base.html.twig' %}

{% block title %}Annonces-72 - Page non trouvée
{% endblock %}

{% block body %}
	<div class="master-wrapper">

		<div class="preloader">
			<div class="preloader-img">
				<span class="loading-animation animate-flicker"><img src="http://localhost:8000/img/loading.GIF" alt="loading"/></span>
			</div>
		</div>

		<!-- Header -->
		<header id="headerwrap" class="fullheight dark-wrapper opaqued parallax" data-parallax="scroll" data-image-src="img/bg/bg5.jpg" data-speed="0.7">
			<div class="container vertical-center">
				<div class="intro-text vertical-center text-left smoothie">
					<div class="intro-heading wow fadeIn heading-font" data-wow-delay="0.2s">Erreur 404</div>
					<div class="intro-sub-heading wow fadeIn secondary-font" data-wow-delay="0.4s">
						<span class="rotate">L'URL demandée n'est pas ici, recommencer encore !</span>
					</div>
				</div>
			</div>
		</header>

		{% include('components/footer.html.twig') %}

	</div>

{% endblock %}
